<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.dao.AppMapper">

    <update id="deleteApp" parameterType="Long">
        UPDATE t_app SET STATUS = 0 WHERE id = #{appId, jdbcType=BIGINT}
    </update>

</mapper>